<% if @active_employees.empty? %>
<h4>There are no employees in the system at this time.</h4>
<% else %>
    <% if current_employee && current_employee.admin_role? %>
    <h4>Active Employees at Cafe23</h4>
    <% elsif current_employee && current_employee.manager_role? %>
    <h4><%= "Active Employees at #{current_employee.current_assignment.store.name}" =%></h4>
    <% end %>

    <table class="striped highlight">
    <thead>
        <th>Name</th>
        <th>Current Assignment</th>
        <th>Phone</th>
        <th class="align_center">Options</th>
    </thead>
    <% for employee in @active_employees %>
        <tr>
        <td><%= link_to "#{employee.last_name}, #{employee.first_name}", employee_path(employee) %></td>
        <% if employee.current_assignment.nil? %>
            <td><%= "n/a" %></td>
        <% else %>
            <td><%= "#{employee.current_assignment.store.name}" %></td>
        <% end %>
        <td><%= number_to_phone employee.phone %></td>
        <td class="align_center">
            <%= link_to edit_employee_path(employee) do %>
                <i class="material-icons">edit</i>
            <% end %>
            &nbsp;&nbsp;&nbsp;&nbsp; 
            <%= link_to(employee_path(employee), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
                <i class="material-icons">delete</i>
            <% end %>
        </td>
        </tr>
    <% end %>
    </table>
    <br />
<% end %>
<br />