<h4>Current Assignments</h4>
<table class="striped highlight">
  <thead>
    <th>Start Date</th>
    <th>Store</th>
    <th>Employee</th>
    <th>Pay Grade</th>
    <th>Shift Count</th>
    <th class="align_center">Options</th>
  </thead>
  <% for assignment in @current_assignments.by_store %>
    <tr>
      <td><%= "#{humanize_date(assignment.start_date)[0..5] + humanize_date(assignment.start_date)[8..9]}" %></td>
      <td><%= "#{assignment.store.name}" %></td>
      <td><%= "#{assignment.employee.proper_name}" %></td>
      <td><%= "#{assignment.pay_grade.level}" %></td>
      <td><%= "#{assignment.shifts.count}" %></td>
      <td class="align_center">
        <%= link_to edit_assignment_path(assignment) do %>
            <i class="material-icons">edit</i>
        <% end %>
        &nbsp;&nbsp;&nbsp;&nbsp; 
        <%= link_to(assignment_path(assignment), method: :delete, data: { confirm: 'Are you sure you wish to delete this information?' }) do %>
            <i class="material-icons">delete</i>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
<br />

<p>&nbsp;</p>
